<!DOCTYPE html>
<html lang = "en">
    <title>Super Geocoder</title>
    <head>
        <link href = "../static/main.css" rel = "stylesheet">
    </head>

        <body>
            <div class = "container">            
                <h1> Super Geocoder </h1>
                <p> Please upload your CSV file. The values containing addresses should be in a column names <i>address</i> or <i>Address</i> </p>

            <form action="{{url_for('success')}}"  method = 'POST' enctype="multipart/form-data">
                <input type="file" name = "file" class = "custom-file-input" accept=".csv">
                <button type = "submit">Submit</button>
               
            </form>
            <div class = "download">
                {{ text|safe }}                
                {% if btn %}
                    {% include btn %}
                {% endif %}                
            </div>
            </div>

        </body>

</html>
